.App{
  background-color: #4B5563;
  min-height: 100vh;
  
}
.footer{
   position: sticky !important;
   top: 100vh !important;

  }
.dynamic-hide{
  display: none;
}
.dynamic-table{
  display: block;
}
.compact-hide{
  display: none;
}
.compact-table{
  display: block;
}
.universal-dynamic-hide{
  display: none;
}
.universal-dynamic{
  display: block;
}
.universal-compact-hide{
  display: none;
}
.universal-compact{
  display: block;
}
.footer-toggle{
  font-size: 30px;
  color: white;
  background-color: red;
  width: fit-content;
  padding: 5px;
  border-radius: 100%;
  margin: 5px !important;
}